:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --second-text-color: #FFFFFF;
    --accent-color: #2196F3;
    --background-color: #F5F5F5;
}

body{
    background-color: var(--background-color);
}
/* Загальний стиль логотипу*/
.logo-link{
    font-size: 26px;
    font-weight: 700;
    color: var(--accent-color);
}

/* Друга половина логотипу в header */
.logo-link .logo-header{
    color: #000000;
}

/* Друга половина логотипу в footer */
.logo-link .logo-footer {
    color: var(--second-text-color)
}

/* Стиль посилань  в header*/
.link-header {
    color: var(--title-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}


/* стиль посилань в footer */
.link-footer {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--second-text-color);
}

/* кнопка замовлення послуги*/
.hero-btn {
    background-color: var(--accent-color);
    color: var(--second-text-color);
    font-weight: 700;
    font-size: 16px;
    
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: #188CE8;
}



/* Заголовки секцій */
.section-title {
    color: var(--title-text-color);
    font-size: 36px;
   
}
/* Заголовки всередині списку */
.list-title {
    color: var(--title-text-color);
    font-size: 16px;
}

/* Текст під заголовком в списку */
.list-text {
    color: var(--primary-text-color);
    font-size: 14px;
}