html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  /* Колір тексту */
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --second-text-color: #ffffff;
  --accent-text-color: #2196f3;
  --logo-header-color: #000000;
  --footer-transparent-color: rgba(255, 255, 255, 0.6);

  /* Колір фону */
  --background-color: #ffffff;
  --second-background-color: #2f303a;
  --accent-bg-color: #2196f3;
  --activ-btn: #188ce8;
  --team-background: #f5f5f5;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--background-color);
}

.hero,
.footer {
  background-color: var(--second-background-color);
}

/* Загальний стиль логотипу*/
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--accent-text-color);
}

/* Друга половина логотипу в header */
.logo-header {
  color: var(--logo-header-color);
}

/* Друга половина логотипу в footer */
.logo-footer {
  color: var(--second-text-color);
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-text-color);
}

.list {
  list-style: none;
}

/* Стиль посилань  в header*/

.link-nav {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.link-header {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.link-nav:hover,
.link-nav:focus,
.link-header:hover,
.link-header:focus {
  color: var(--accent-text-color);
}

/* Виділення поточної сторінки */
.current {
  color: var(--accent-text-color);
}

/* Герой-заголовок */
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  color: var(--second-text-color);
  text-transform: uppercase;
}

/* кнопка замовлення послуги*/
.hero-btn {
  background-color: var(--accent-bg-color);
  color: var(--second-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--activ-btn);
  
}

/* Заголовки секцій */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  color: var(--title-text-color);
}

/* Підзаголовки розділу Особливості */
.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: var(--title-text-color);
  text-transform: uppercase;
}

/* ceкція Наша команда */
.team {
  background-color: var(--team-background);
  font-size: 16px;
  line-height: calc(19 / 16);
}

.team-card {
  background-color: var(--background-color);
}

.team-list-title {
  font-weight: 500;
  font-size: 16px;
  color: var(--title-text-color);
}

/* Посилання в футері */
.link-address {
  font-style: normal;
  color: var(--second-text-color);
  text-decoration: none;
}

.link-contacts {
  font-style: normal;
  color: var(--footer-transparent-color);
  text-decoration: none;
}

.link-address:hover,
.link-address:focus,
.link-contacts:hover,
.link-contacts:focus {
  color: var(--accent-text-color);
}

/* Кнопки фільтра в портфоліо */
.filter-btn {
  background-color: var(--team-background);
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-bg-color);
  color: var(--second-text-color);
}

/* Проекти в портфоліо */
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.project-subtitle {
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--primary-text-color);
}

.link-project{
  text-decoration: none;
}

.link-project:hover,
.link-project:focus {
  background-color: var(--accent-bg-color)
}
